// site fonts
$heading-font: 'Lato', sans-serif;
$body-font: 'Montserrat', sans-serif;
// site background color
$site-bg-color: material-color('grey', '300');
// site color
$text: #333;
// jumbotron
$jumbotron-height: 500px;
// footer
$footer-height: 300px;
$footer-bg-color: material-color('grey', '800');
