.boxed {
   @include border-radius(5px);
   @include box-shadow(3px 2px 14px -5px rgba(0,0,0,0.75));
   background: #fff;
   padding: 2em;
   margin: 2em 0;
   border: 1px solid #eee;
}
.jumbotron {
   @include box-shadow(0px 5px 5px -5px rgba(0,0,0,0.75));
   position: absolute;
   top: 51px;
   left: 0;
   width: 100%;
   border-radius: 0;
   height: $jumbotron-height;
}
.jumbotron-offset {
   margin-top: $jumbotron-height;
}
.footer {
   min-height: $footer-height;
   background: $footer-bg-color;
}
