.boxed {
   @include border-radius(5px);
   @include box-shadow(3px 2px 14px -5px rgba(0,0,0,0.75));
   background: #fff;
   padding: 2em;
   margin: 1em 0;
   border: 1px solid #eee;

   &.no-style {
       background: none;
       @include box-shadow(none);
       border: none;
   }
}
.footer {
   min-height: $footer-height;
   background: $footer-bg-color;
}
