// nav
.navbar {
    border-radius: 0;
}
nav.navcontainer {
    background-image: url('/images/saratoga.jpg');
}
nav.navbar {
    margin-bottom: 0;

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
}
.navbackground {
    background: material-color('blue');
    @include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.75));
}
// pictures
.pic {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}
// remove icon
.fa.fa-minus-circle {
    color: material-color('red');
}
